<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camera Preview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [class.transparent]="cameraService.isCameraOn" (click)="tapToFocus($event)">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Camera Preview</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab>
    <ion-fab-button>
      <ion-icon name="apps-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <p
        *ngFor="let option of optionList"
        (click)="doSomething(option)"
      >
      {{ option.label }}
      </p>
    </ion-fab-list>
  </ion-fab>

  <img *ngIf="picture" [src]="picture | safeHtml" alt="captured image goes here"/>
  <div *ngIf="cameraService.cameraInfo.zoom" class="p-woi">
    {{cameraService.cameraInfo | json}}
  </div>
  

</ion-content>