#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

ion-fab {
  bottom: 20px;
  left: 20px;
}

img {
  padding-top: 80px;
  // padding-left: 15px;
}

ion-fab-list {
  min-width: max-content;
  p {
    color: white;
    text-align: right;
    background-color: grey;
    padding: 16px;
    border-radius: 25px;
    align-self: flex-end;
    margin-top: 0;
    box-shadow: 2px 2px 8px var(--color-14);
  }
}

.p-woi {
  padding: 20px;
  color: white;
  background: rgba(50,50,50,0.7);
}

.transparent{
  background-color: transparent !important;
  --background: none;
  padding: 10px;
}
