
<ion-content class="transparent">
  <div style="position: absolute">Test</div>
  <div class="border" (click)="focusTap($event)">
    <ion-fab horizontal="start" vertical="bottom" slot="fixed">
      <ion-fab-button>
        <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab class="takepic" horizontal="center" vertical="bottom" slot="fixed">
      <ion-fab-button>
        <ion-icon name="camera-outline" (click)="takePic()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>