.transparent-box{
  --backgroud: none;
}

.border{
  // border: 30px 15px solid rgba(0, 0, 0, .7);
  border-style: solid;
  border-width: 90px 35px;
  border-color: rgba(0, 0, 0, .7);
  height: 100%;
}

.transparent{
  --background: none;
}

.row {
  justify-content: center;
  height: 100%;
}

.ion-col {
  height: 100%;
}

.takepic {
  bottom: 105px;
}